html, body {
    height:100%;
    margin:0;
    padding:0;
}
.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url("assets/media/bg.gif");
    object-fit: cover;
    z-index: -1;
    -o-filter: blur(15px);
    filter: blur(15px);
    transform: scale(1.2);
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.logo {
    width: 50%;
    height: auto;
    min-width: 80%;
    -webkit-filter: drop-shadow(5px 5px 8px #2222223a);
    filter: drop-shadow(5px 5px 8px #2222223a);
}
.logo-redirect {
	width: 40%;
	height: auto;
	min-width: 65%;
	-webkit-filter: drop-shadow(5px 5px 8px #2222223a);
	filter: drop-shadow(5px 5px 8px #2222223a);
    mix-blend-mode: screen;
    box-shadow: 0px 0px 200px 2000px #000;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}