html, body {
    height:100%;
    margin:0;
    padding:0;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -o-filter: blur(15px);
    filter: blur(15px);
    object-fit: cover;
    transform: scale(1.04);
}
@media (max-width: 0px) {
    #background-video {
        display: none;
   }
    body {
        background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
        background-size: cover;
        -o-filter: blur(15px);
        object-fit: cover;
        transform: scale(1.04);
        z-index: -1;
   }
}
body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/bg.png") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}
@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
   }
}
.img-container {
    text-align: center;
}
.logo {
    width: 50%;
    height: auto;
    min-width: 80%;
    -webkit-filter: drop-shadow(5px 5px 8px #22222224);
    filter: drop-shadow(5px 5px 8px #22222224);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
}
.footer {
    margin:auto;
}
.footerContent {
    float:left;
    width:100%;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 4px;
    transition-duration: 2s;
    font-weight: 500;
    text-size-adjust: auto;
}
.footerContent:hover {
    background-color:rgba(0, 0, 0, 0.25);
}
.footer p {
    float:left;
    width:100%;
    text-align:center;
}
.footerImage {
    width: 400px;
    height: auto;
    min-width: 30%;
    -webkit-filter: drop-shadow(5px 5px 8px #22222224);
    filter: drop-shadow(5px 5px 8px #22222224);
}